<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.xms.dao.EmpMapper">
	<select id="findByDeptno" parameterType="com.xms.entity.Condition" resultType="com.xms.entity.Emp">
		select * from emp	
		<if test="deptno!=null">
			where deptno=#{deptno}
		</if>
	</select>
	
	<select id="findBySalary" parameterType="com.xms.entity.Condition" resultType="com.xms.entity.Emp">
		select * from emp	
		<if test="salary!=null">
			<choose>
				<when test="salary > 30000">
					where salary > #{salary}
				</when>
				<otherwise>
					where salary > 30000
				</otherwise>
			</choose>
		</if>
	</select>
	<!-- 根据部门号和薪水查询员工 -->
	<select id="findByDeptnoAndSalary" parameterType="com.xms.entity.Condition" resultType="com.xms.entity.Emp">
		select * from emp
		<!-- 
		<where>
			<if test="deptno!=null">
				deptno = #{deptno}
			</if>
			<if test="salary!=null">
				and salary > #{salary}
			</if>
		</where>
		 -->
		 <trim prefix="where" prefixOverrides="and">
		 	<if test="deptno!=null">
				deptno = #{deptno}
			</if>
			<if test="salary!=null">
				and salary > #{salary}
			</if>
		 </trim>
	</select>
	<!-- 修改员工 -->
	<update id="update" parameterType="com.xms.entity.Emp">
		update emp
		<!--		
		<set>
			<if test="ename!=null">
				ename = #{ename},
			</if>
			<if test="salary!=null">
				salary = #{salary},
			</if>
			<if test="hiredate!=null">
				hiredate = #{hiredate},
			</if>
			<if test="deptno!=null">
				deptno = #{deptno}
			</if>
			<if test="empno!=null">
				where empno = #{empno}
			</if>
		</set>
		-->
		<trim prefix="set" suffixOverrides=",">
			<if test="ename!=null">
				ename = #{ename},
			</if>
			<if test="salary!=null">
				salary = #{salary},
			</if>
			<if test="hiredate!=null">
				hiredate = #{hiredate},
			</if>
			<if test="deptno!=null">
				deptno = #{deptno}
			</if>
			
		</trim>
		<if test="empno!=null">
			where empno = #{empno}
		</if>
	</update>
	<!-- 根据员工号查询员工 -->
	<select id="findByEmpno" parameterType="com.xms.entity.Condition" resultType="com.xms.entity.Emp">
		select * from emp where empno in
		<foreach collection="empnos" item="empno" open="(" close=")" separator=",">
			#{empno}		
		</foreach>
	
	</select>
	
	
	
</mapper>
	
	
	
 
 
 
 
 
 
 
 
 
 
 