<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.work.plan.mapper.ComponentMapper">

    <resultMap id="BaseResultMap" type="com.example.work.plan.entity.Component">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="profession" column="profession" jdbcType="VARCHAR"/>
            <result property="segmentId" column="segment_id" jdbcType="INTEGER"/>
            <result property="workEfficiency" column="work_efficiency" jdbcType="INTEGER"/>
            <result property="planId" column="plan_id" jdbcType="INTEGER"/>
            <result property="parentCode" column="parent_code" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="VARCHAR"/>
            <result property="projectId" column="project_id" jdbcType="VARCHAR"/>
            <result property="areaId" column="area_id" jdbcType="INTEGER"/>
            <result property="pointId" column="point_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,profession,
        segment_id,work_efficiency,plan_id,
        parent_code,code,level,
        project_id,area_id,point_id
    </sql>
</mapper>
