<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.work.generator.mapper.PlanVersionMapper">

    <resultMap id="BaseResultMap" type="com.example.work.generator.entity.PlanVersion">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="version" column="version" jdbcType="VARCHAR"/>
            <result property="deployDate" column="deploy_date" jdbcType="TIMESTAMP"/>
            <result property="deployUser" column="deploy_user" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="areaId" column="area_id" jdbcType="INTEGER"/>
            <result property="pointId" column="point_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,version,deploy_date,
        deploy_user,status,area_id,
        point_id
    </sql>
</mapper>
