<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.work.generator.mapper.ProcCompleteMapper">

    <resultMap id="BaseResultMap" type="com.example.work.generator.entity.ProcComplete">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="proceId" column="proce_id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="unit" column="unit" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="INTEGER"/>
            <result property="reportUserId" column="report_user_id" jdbcType="INTEGER"/>
            <result property="reportUserName" column="report_user_name" jdbcType="VARCHAR"/>
            <result property="compeledTime" column="compeled_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,proce_id,type,
        name,unit,value,
        report_user_id,report_user_name,compeled_time
    </sql>
</mapper>
