<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <!-- 配置监听器 -->	
  <listener>
  	<listener-class>listener.SessionListener</listener-class>
  </listener>
  <!-- 全局参数配置 -->	
  <context-param>
  	<param-name>version</param-name>
  	<param-value>1.0</param-value>
  </context-param>
  <servlet>
    <servlet-name>SomeServlet</servlet-name>
    <servlet-class>web.SomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OtherServlet</servlet-name>
    <servlet-class>web.OtherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>web.UploadFileServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>SomeServlet</servlet-name>
    <url-pattern>/some</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OtherServlet</servlet-name>
    <url-pattern>/other</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
