#blogTitle{
			height: 350px;
                        background-color: cadetblue;
		}
		#blogTitle h2{
			font-size:28px;
			font-weight: bold;
			margin-left: 20%;
			margin-top: 150px;
			color: white;
			width: 1000px;
		}
		#blogTitle h1{
			display:none;
			font-family: 黑体;
			color: lightslategrey;
		}
		#navigator{
			background-color: white;
		}
		#navList li a {
			color: #7c7c7c;
			font-weight: bold;
			font-size: 20px;
		}
		#navList{
			
		}
 blockquote{border-left:soild 2px fc6b3f }