<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.xms.dao.DeptMapper">
	<!-- 关联映射-嵌套查询 -->
	<select id="findByDeptnoOne" parameterType="integer" resultMap="deptMapOne">
		select * from dept where deptno=#{deptno}
	</select>
	<resultMap type="com.xms.entity.Dept" id="deptMapOne">
		<id property="deptno" column="deptno"/>
		<collection property="emps" javaType="java.util.ArrayList" 
			ofType="com.xms.entity.Emp" column="deptno" select="findEmps"/>
	</resultMap>
	<select id="findEmps" parameterType="integer" resultType="com.xms.entity.Emp">
		select * from emp where deptno=#{deptno}
	</select>
	
	<!-- 关联映射-嵌套结果查询 -->
	<select id="findByDeptnoTwo" parameterType="integer" resultMap="deptMapTwo">
		select d.*,e.* from dept d join emp e on d.deptno=e.deptno where d.deptno=#{deptno}
	</select>
	<resultMap type="com.xms.entity.Dept" id="deptMapTwo">
		<id property="deptno" column="deptno"/>
		<result property="dname" column="dname"/>
		<result property="address" column="address"/>
		<collection property="emps" column="deptno" javaType="java.util.ArrayList" ofType="com.xms.entity.Emp">
			<id property="empno" column="empno"/>
			<result property="ename" column="ename"/>
			<result property="salary" column="salary"/>
			<result property="bonus" column="bonus"/>
			<result property="hiredate" column="hiredate"/>
			<result property="deptno" column="deptno"/>
		</collection>
	
	</resultMap>
	
	<!-- 关联映射-嵌套结果查询 -->
	<select id="findByAdmin" resultMap="adminMap">
		select a.*,r.* from admin a join admin_role ar on a.id=ar.admin_id join role r on r.id=ar.role_id
	</select>
	<resultMap type="com.xms.entity.Admin" id="adminMap">
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="realname" column="realname"/>
		<collection property="roles" ofType="com.xms.entity.Role">
			<id property="id" column="role_id"/>
			<result property="name" column="name"/>
		</collection>
	</resultMap>
	
	
	
</mapper>
	
	
	
 
 
 
 
 
 
 
 
 
 
 