<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>AddCookieServlet</servlet-name>
    <servlet-class>web.AddCookieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindCookieServlet</servlet-name>
    <servlet-class>web.FindCookieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelCookieServlet</servlet-name>
    <servlet-class>web.DelCookieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAddCookieServlet</servlet-name>
    <servlet-class>web.FindAddCookieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SomeSessionServlet</servlet-name>
    <servlet-class>web.SomeSessionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OtherSessionServlet</servlet-name>
    <servlet-class>web.OtherSessionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CountServlet</servlet-name>
    <servlet-class>web.CountServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>AddCookieServlet</servlet-name>
    <url-pattern>/addCookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindCookieServlet</servlet-name>
    <url-pattern>/findCookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelCookieServlet</servlet-name>
    <url-pattern>/delCookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAddCookieServlet</servlet-name>
    <url-pattern>/findAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SomeSessionServlet</servlet-name>
    <url-pattern>/Some</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OtherSessionServlet</servlet-name>
    <url-pattern>/other</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CountServlet</servlet-name>
    <url-pattern>/count</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
