<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.xms.dao.QuestionMapper">
	<select id="findAll" resultMap="questionMap">
		select * from question
	
	</select>
	<resultMap type="com.xms.entity.Question" id="questionMap">
		<id property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="options" column="options"/>
		<result property="answer" column="answer"/>
		<!-- 鉴别器，根据某个字段鉴别 -->
		<discriminator javaType="java.lang.String" column="type">
			<case value="S" resultType="com.xms.entity.SingleQuestion"/>
			<case value="M" resultType="com.xms.entity.MutilQuestion"/>
		</discriminator>	
			
	</resultMap>
	
	
	
</mapper>
	
	
	
 
 
 
 
 
 
 
 
 
 
 