<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.xms.dao.EmpMapper">
	<!-- 插入一条员工数据 -->
	<insert id="save" parameterType="com.xms.entity.Emp">
		insert into emp values(null,#{ename},#{salary},#{bonus},#{hiredate},#{deptno})
	</insert>
	
</mapper>
	
	
	
 
 
 
 
 
 
 
 
 
 
 