<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.xms.dao.EmpMapper">
	<!-- 查询全部部门的映射配置 --> 
	<select id="findAll" resultType="com.xms.entity.Emp">
		select * from emp
	</select>
	<!-- 根据empno查找 -->
	<select id="findByEmpno" parameterType="integer" resultType="com.xms.entity.Emp">
		select * from emp where empno = #{empno}
	</select>
	
	<insert id="save" parameterType="com.xms.entity.Emp">
		insert into emp values(#{empno},#{ename},#{salary},#{bonus},#{hiredate},#{deptno})
	</insert>
	
	<update id="update" parameterType="com.xms.entity.Emp">
		update emp set ename=#{ename},salary=#{salary},bonus=#{bonus},
			hiredate=#{hiredate},deptno=#{deptno} where empno=#{empno}
	</update>
	
	<delete id="delete" parameterType="integer">
		delete from emp where empno=#{empno}
	</delete>
	
</mapper>
	
	
	
 
 
 
 
 
 
 
 
 
 
 