<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 加载资源文件db.properites -->
    <context:property-placeholder location="classpath:db.properties"/>
    <!-- 配置dataSource -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!-- 连接数据库参数 -->
        <property name="driverClass" value="${mysql_driver}"/>
        <property name="jdbcUrl" value="${mysql_url}"/>
        <property name="user" value="${mysql_user}"/>
        <property name="password" value="${mysql_password}"/>
        <!-- 连接池参数 -->
        <property name="minPoolSize" value="10"/>
        <property name="maxPoolSize" value="30"/>
        <property name="autoCommitOnClose" value="true"/>
    </bean>
    <!-- mybatis相关设置 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 配置数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 主配置文件 -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!-- 映射数据文件 -->
        <property name="mapperLocations" value="classpath:mapper/.xml"/>
        <!-- 需要别名转换的类 -->
        <property name="typeAliasesPackage" value="entity"/>
    </bean>
    <!-- 开启包扫描SqlSessionFactoryBean -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 需要扫描的dao包 -->
        <property name="basePackage" value="com.seckill.dao"/>
        <!-- sqlSessionFactory -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
</beans>