<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.xms.dao.DeptDao">
	<!-- 查询全部部门的映射配置 --> 
	<select id="findAll" resultMap="deptMap">
		select * from dept
	</select>
	<resultMap type="com.xms.entity.Dept" id="deptMap">
		<id property="id" column="deptno"/>
		<result property="name" column="dname"/>
	</resultMap>
	
</mapper>
	
	
	
 
 
 
 
 
 
 
 
 
 
 