<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <!-- 配置过滤器 -->
  <filter>
  	<filter-name>commentFilter2</filter-name>
  	<filter-class>filter.CommentFilter2</filter-class>
  	<!-- 配置初始化参数 -->
  	<init-param>
  		<param-name>size</param-name>
  		<param-value>10</param-value>
  	</init-param>
  </filter>
  <filter>
  	<filter-name>commentFilter</filter-name>
  	<filter-class>filter.CommentFilter</filter-class>
  </filter>
  <servlet>
  	<servlet-name>checkCodeServlet</servlet-name>
  	<servlet-class>web.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessServlet</servlet-name>
    <servlet-class>web.ProcessServlet</servlet-class>
  </servlet>
  
  <filter-mapping>
  	<filter-name>commentFilter2</filter-name>
  	<url-pattern>/process</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>commentFilter</filter-name>
  	<url-pattern>/process</url-pattern>
  </filter-mapping>
  <servlet-mapping>
  	<servlet-name>checkCodeServlet</servlet-name>
  	<url-pattern>/checkCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessServlet</servlet-name>
    <url-pattern>/process</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
