<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.xms.dao.AdminMapper">
	<!-- 分页查询 -->
	<select id="findByPage" resultMap="adminMap">
		select a.*,r.* from admin a,admin_role ar,role r where a.id=ar.admin_id and r.id=ar.role_id limit #{0},#{1}
	</select>
	<resultMap type="com.xms.entity.Admin" id="adminMap">
		<id property="id" column="id"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="realname" column="realname"/>
		<collection property="roles" ofType="com.xms.entity.Role">
			<id property="id" column="role_id"/>
			<result property="name" column="name"/>
		</collection>
	</resultMap>
	
	
	<!-- 根据名字查询 -->
	<select id="findByName" parameterType="string" resultType="com.xms.entity.Admin">
		select * from admin where username = #{username}
	</select>
	<!-- 增加信息 -->
	<insert id="save" parameterType="com.xms.entity.Admin">
		insert into admin values(#{id},#{username},#{password},#{realname})
	</insert>
	<!-- 修改信息 -->
	<update id="update" parameterType="com.xms.entity.Admin">
		update admin set username=#{username},password=#{password},
			realname#{realname} where id=#{id}
	</update>
	<!-- 删除信息 -->
	<delete id="delete" parameterType="integer">
		delete frmo admin where id = #{id}
	</delete>
	
</mapper>
	
	
	
 
 
 
 
 
 
 
 
 
 
 